<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ldept.simplepass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test">
        <activity
            android:name=".ui.AuthenticationSettingsActivity"
            android:exported="true"
            android:parentActivityName=".ui.SettingsActivity"
            android:theme="@style/Theme.TestActionBar"/>
        <activity android:name=".ui.SetupActivity" /> <!-- Dropbox AuthActivity -->
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <data android:scheme="db-ncjmp7uu69nr7pv" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AddUpdatePasswordActivity"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/Theme.TestActionBar" />
        <activity android:name=".ui.MainActivity" />
    </application>

</manifest>